/* Body */
body{
font-family: Arial;
margin:0;
background:white;
}


.logo{
color:white;
font-size:22px;
font-weight:bold;
}

.nav-links a{
color:white;
text-decoration:none;
margin:0 10px;
}

.nav-links a:hover{
color:#F97A00;
}

/* ServicesNames Section */
.ServicesNames{
background: #174ea6;
color:white;
text-align:center;
padding:60px;
}

/* Services Section */
.services{
display:grid;
grid-template-columns: repeat(2, 1fr);

justify-content:center;
gap:80px;
padding:40px;

}

/* Card Design */
.card{
background:white;
width: 100%; 
padding:100px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;

display: flex;
  flex-direction: column;
  
}

.card img{
width:100%;
border-radius:10px;
}


.card ul {
  padding-left: 18px;
  margin: 10px 0;
}

.card button {
  margin-top: auto;
}
/* Button */
button{
background:#174ea6;
color:white;
border:none;
padding:10px;
cursor:pointer;
margin-top:10px;
border-radius: 30px;
}

