.navbar {
    background: #34495e;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar li {
    margin: 10px 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
}

.navbar a:hover,
.navbar .active {
    background: #3498db;
    border-radius: 5px;
}