* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.main-logo-img {
    display: flex;
    align-items: center;
    gap: px;
    max-width: 100px;
    margin: left;
    padding: 0 20px;
}

.logo {
    width: 300px;
    height: 400px;
}

...logo-text h1 {
    font-size: 80px;
}

.logo-text p {
    font-size: 30px;
    opacity: 0.8;
}

/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: 15px auto;
    color: #555;
}

/* Mission */
.mission-vision {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #ecf0f1;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

/* Services */
.services ul {
    list-style: none;
}

.services li {
    background: #f4f4f4;
    margin: 8px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 5px;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.feature {
    background: #3498db;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}